.aboutme-container {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  align-items: flex-start; /* Align items at the top */
  padding-left: 48px;
  margin-top: 30px;
}

.text-content, .content {
  flex: 1;
  padding-right: 200px;
}

.profile-photo {
  /* Adjust the float property for better responsiveness */
  float: right;
  margin-right: 15px; /* Add some space between the text and the image */
  width: 400px; /* Adjust based on your preference */
  height: auto;
  padding-top: 80px;
}

.heading-hola {
  font-size: 48px;
  margin-bottom: 20px;
}

.texts {
  font-size: 24px;
  margin-bottom: 16px;
  line-height: 150%;
  padding-right: 20px;
  font-family: "Urbanist", sans-serif;
}

.find-me {
  margin-bottom: 16px;
  font-family: "Urbanist", sans-serif;
}

.footer, .know-me, .designing {
  font-size: 24px;
  color: black;
  padding-top: 48px;
  font-family: "Bree Serif", serif;
}

.behands, .layer1, .dribble {
  width: 60px;
  padding-right: 24px;
}

.images {
  padding-top: 24px;
}

@media (max-width: 768px) {
  .aboutme-container {
    padding-left: 20px; /* Less padding on smaller screens */
  }

  .text-content, .content {
    padding-right: 20px; /* Less padding for text content */
  }

  .profile-photo {
    float: none;
    margin: 0 auto; /* Center the image */
    display: block;
    width: 80%; /* Make image width responsive */
    max-width: 300px; /* Max width for larger devices */
  }

  .heading-hola {
    font-size: 36px; /* Smaller font size for headings */    
  }

  .texts, .footer, .know-me, .designing {
    font-size: 18px; /* Slightly smaller font size for better readability */
   
  }
  .texts{
  line-height: 160%;

  }

  .find-me {
    font-size: 16px; /* Smaller font size for subtexts */
  }

  .behands, .layer1, .dribble {
    padding-right: 15px; /* Less spacing between icons */
    width: 45px;
  }
}

/* Animation and hover effects unchanged */
@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-100px) rotate(0deg);

  }
  80% {
    opacity: 1;
    transform: translateY(10px), rotate(0deg) ;

  }
  100% {
    transform: translateY(0), rotate(0deg);

  }
}

.drop-letter {
  display: inline-block;
  animation: drop 0.8s ease forwards;
  transition: all 0.9s ease-in; /* Smooth transition for scaling */
  /* cursor: progress; Indicates interactivity */
}

.drop-letter:hover {
  transform: rotate(20deg); /* Scale letter up on hover */
  transition: all 0.9s ease; /* Smooth transition for scaling */


}