/* *{
    cursor: url(./assets/Imp/curserIcon.cur) , pointer;
} */


.eyes{
    position: absolute;
    top: 50%;
    /* transform: translate(-50%); */
    width: 100%;
    text-align: center;
}   

.eye{
    width: 120px;
    height: 120px;
    /* background-color: rgb(163, 163, 163); */
    border: 3px solid #FC6D42;
    display: inline-block;
    border-radius: 90% 2%;
    transform: rotate(45deg);
    margin: 60px;
    /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) , 0 3px 6px rgba(0, 0, 0, 0.23); */
    overflow: hidden;
    animation: eyeborder 4s infinite;
}

@keyframes eyeborder{
    0%{
        opacity: 1;
    }
    10%{
        opacity: 0;
     }
     20%{
        opacity: 1;
     }
     100%{
        opacity: 1;
 }
 }

.eyeball{
    width: 80px;
    height: 80px;
    /* background-color: #a1caf1; */
    border-radius: 50%;
    /* border: 10px solid #6894b9; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.eyelid{
    width: 200px;
    height: 100px;
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%) rotate(-45deg);
}
.eyelid span{
    display: block;
    width: 100%;
    height: 20%;
    background-color: white;
    border-radius: 0 0 60% 60%;
    animation: eyelid 4s infinite;
}

@keyframes eyelid{
   0%{
       height: 0%;
   }
   10%{
    height: 100%;
    }
    20%{
        height: 0%;
    }
    100%{
        height: 0%;
}
}
