@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: CaveatRegular;
    src: url(/Fonts/Caveat-Regular.ttf);
}

@font-face {
    font-family: CaveatBold;
    src: url(/Fonts/Caveat-Bold.ttf);
}

@font-face {
    font-family: CaveatMedium;
    src: url(/Fonts/Caveat-Medium.ttf);
}